@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#f8fafc] text-[#0f172a] font-sans;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  border-radius: 10px;
}
